@charset "utf-8";
body { margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif, "宋体"; font-size: 13px; background:#fff; }
body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd { padding: 0; margin: 0; font-family: Arial, Verdana, Helvetica, sans-serif, "宋体"; }
dd { list-style: none outside; padding:00; margin:0 }
dl{ margin:0}
li { list-style: none; }
img { border: none; }
em { font-style:normal; font-weight:bold; color:red}
h1 { font-size: 24px; color: #333; margin: 25px 10px 10px 10px; }
h2 { font-size: 14px; }
a, td, textarea, span, select, div { font-size: 12px; font-family: Arial, Verdana, Helvetica, sans-serif, "宋体" }
a { color: #0c2213; font-family: Arial, Verdana, Helvetica, sans-serif, "宋体"; }
a:link { text-decoration: none; color: #0c2213; }
a:visited { text-decoration: none; color: #0c2213; }
a:hover { color: #6a9603; text-decoration: none; }
a:active { text-decoration: none; }
.clear { clear: both; }
/*页面整体容器*/
#MainContainer { width: 1003px; margin: 0 auto; overflow: hidden; }
/*顶部容器*/
#Head { width: 100%; margin: 0 auto; _zoom: 1; height:80px;line-height:80px; overflow: hidden; clear: both;}
#Head .top { width: 1003px; margin: 0 auto; overflow:hidden;}
#Head .top .logo { float: left; padding-top:10px; }
.top_nav { float: right; line-height:80px; color: #666666; }
.top_nav a { color: #666666; padding: 0 10px; }
/*页面主导航*/
/* #Menunav { width: 100%; background: url(../images/menubg.jpg) repeat-x; height: 36px; line-height: 36px;} */
#Menunav { width: 100%;  height: 36px; line-height: 36px;}
#Menunav div { width:1003px;margin: 0 auto; overflow: hidden; } 
/*#Menunav ul {margin:0 auto;}
#Menunav ul li { padding:0 8px; height: 36px; line-height: 36px; float: left; font-weight: bold;text-align: center; }
#Menunav ul li:hover { color: #fff; text-decoration: none; } */
#Menunav ul li a { height: 36px; font-size: 14px; font-weight: bold; color: #011500; display:block;text-align: center; padding: 0 28px; }
 #Menunav {border-right:none; overflow:hidden;} 
 #Menunav ul li { padding:0 1px; height: 36px; line-height: 36px; float: left; font-weight: bold;text-align: center;}
 #Menunav ul li a { width:100px;  text-align:center;  display:block;}
#Menunav ul li ul { position:absolute;  display:none;z-index:99}
#Menunav ul li ul li { float:none;height:36px;}
#Menunav ul li ul li a { border-right:none; border-top:1px dotted #ccc; background:#f5f5f5;}
#Menunav ul li a:hover { color: #fff; text-decoration: none; background: #613910; }
#Menunav ul li a.hover{ background: #613910; color:#fff;}
#Menunav li:hover ul{ display:block; }
#Menunav li ul li:hover { display:block; }

/*banner和搜索*/
#banner{ height: 131px; line-height: 131px; background:#391101 url(../images/huiyi_title.jpg) no-repeat; }
#banner1{ height: 131px; line-height: 131px; background:#391101 url(../images/huiyi_title.jpg) no-repeat; }
.banner_info{ width:1003px; margin: 0 auto; overflow: hidden; _zoom: 1; }
#banner .title_name { float: left; width: 145px; text-align: center; color: #fff; font-family: "微软雅黑", "宋体", Arial; font-size: 30px; font-weight: bold; }
#banner .title_info { float: left; width: 360px; line-height: 33px; color: #fff; padding: 28px 22px; font-family: "微软雅黑", "宋体", Arial; font-size: 15px; font-weight: bold; }
#banner1 .title_name { float: left; width: 145px; text-align: center; color: #fff; font-family: "微软雅黑", "宋体", Arial; font-size: 30px; font-weight: bold; }
#banner1 .title_info { float: left; width: 360px; line-height: 33px; color: #fff; padding: 28px 22px; font-family: "微软雅黑", "宋体", Arial; font-size: 15px; font-weight: bold; }
.searchbox_input { position: relative; float: left }
.search { position: absolute; float: right; width: 431px; background:url(../images/search_bar.jpg) no-repeat; height: 43px; line-height: 30px; margin-right: 20px; margin-top: 45px; }
.search_bar { float: left; padding: 0px 3px; width: 377px; }
input.searchinput {
	height: 35px;
	padding: 3px;
	line-height: 20px;
	margin-left: 1px;
	width: 286px;
	_width: 208px;
	border: 0;
	font-size: 18px;
	color: #666;
	background: none;
	color: #fff;
	margin-top: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	outline: none;
}
.btnOK{
    height: 28px;
	padding: 3px;
	line-height: 20px;
	margin-left: 1px;
	width: 50px;
	_width: 208px;	
}
.btn_search { float: left; background: url(../images/search_btn.jpg) no-repeat; width: 45px; height: 43px; line-height:43px;margin-top:2px;}
.btn_search input { background: url(../images/btn_search_1.gif) no-repeat; width: 87px; height: 43px; border: 0px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; font-family: "微软雅黑", "宋体", Arial; }
.btn_search input:hover { background-position: -60px 0 }
.searchselect { float: left; width: 75px; margin-right: 8px; margin-top: 10px; margin-left: 2px; color: #fff; }
.search .am {
	border: 0px;
	color: #333;
	font-size: 14px;
	cursor: pointer;
	background: url(../images/arrow_down.png) no-repeat right center;
	display: block;
	width: 75px;
	height: 42px;
	line-height: 27px;
	margin: 0px;
	padding: 3px 0px 0px 2px;
	padding-left: 10px;
	margin-top: -9px;
	margin-left: -1px;
	outline: none;
}
#wrapper { background: #fff; overflow: hidden; _zoom: 1;box-shadow: 0 3px 10px #999; }
.w_left { float: left; width: 280px; margin:24px 15px; display: inline; background:rgba(213,230,240,0.3)}
.left_box { margin-bottom: 15px; }
.left_box .title { border-bottom: #727272 1px dashed; line-height: 32px;height: 32px;width: 260px; margin:0 auto; }
.left_box .title h3 { color: #613910; font-size: 15px; font-family: "微软雅黑", "宋体", Arial; padding-left:10px; }
/* .left_box .content { border: #dfdfdf 1px solid; border-top: 0px; overflow: hidden; _zoom: 1; padding: 12px; width: 254px; } */
.left_box .content {  border-top: 0px; overflow: hidden; _zoom: 1; padding: 12px; width: 254px; }
.list_info{ padding-left:15px;}
.list_info li { padding:3px 0;background:url(../images/point_09.jpg) no-repeat 0px 15px; padding-left:15px;}
.list_info li a {font: bold 12px/25px arial, sans-serif; color: #613910; }
.left_box .contenttree{}
.left_box .contenttree ul {}
.left_box .contenttree ul li{ padding-left:20px; line-height:20px; padding-bottom:10px;font-weight: bold;}
.left_box .contenttree ul li a{font-weight: bold;}

.abc li { float: left; width: 27px; height: 24px; margin: 4px; text-align: center; }
.abc li a { display: block; width: 27px; height: 24px; background: url(../images/abc_bg.jpg) no-repeat; font: bold 17px/25px arial, sans-serif; color: #0c2213; }
.abc li a:hover { color: #fff; background: #792402 }
.hot_link li { float: left; margin: 4px 7px; text-align: center; background: #f2f6f3; border: #b1c179 1px solid; padding: 4px 10px; white-space: nowrap; }
.database_link li { float: left; margin: 0px 7px 0px 0; height: 20px; line-height: 20px; text-align: center; padding: 4px 10px; white-space: nowrap; }
.database_link li img { float: left }
.database_link li a { float: left; white-space: nowrap; }
.list_s1 li { list-style: none; background: url(../images/list_s1.gif) no-repeat 5px 11px; line-height: 30px; font-size: 12px; padding-left: 20px; overflow: hidden; }
/*右侧*/
.w_right {overflow: hidden; _ZOOM: 1 }
.w_right h2{line-height:40px; height:40px;BORDER-BOTTOM: #727272 2px solid; font-size:16px; color:black;background:#eee;margin-top: 15px;padding-left:10px; }
.w_right h2 a{float: right;font-weight: normal;padding-right: 10px;}
.num_z{line-height:30px; height:30px;text-align: right;}
.location { margin-top: 15px; }
/*表格*/
.table_box { margin-top: 15px; }
.table01 { border-top: #fce1d0 1px solid; border-left: #fce1d0 1px solid; }
.table01 th, .table01 td { padding: 3px; border-bottom: #727272 1px solid; border-right: #727272 1px solid; }
.table01 th { background: ; color: #333; font: bold 14px/22px Arial }
.table01 td { color: #3d3d3d; line-height: 22px; background:#fff; }
/*页码*/

DIV.pages { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 13px; TEXT-ALIGN: right }
DIV.pages A { BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #566e39; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none ; background:#fff;}
DIV.pages A:hover { BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #638425; BORDER-BOTTOM: #cbcbcb 1px solid; BACKGROUND-COLOR: #CCE5F9 }
DIV.pages A:active { BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #566e39; BORDER-BOTTOM: #cbcbcb 1px solid; BACKGROUND-COLOR: #f1ffd6 }
DIV.pages SPAN.current { BORDER-RIGHT: #fce1d0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fce1d0 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fce1d0 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #fce1d0 1px solid; BACKGROUND-COLOR: #1779C8 }
DIV.pages SPAN.disabled { BORDER-RIGHT: #fce1d0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fce1d0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fce1d0 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #fce1d0 1px solid }
/*版权*/
.copyright { border-top: #7f7f7f 1px solid; padding-top: 6px; text-align: center; overflow: hidden; clear: both; margin-top: 20px; }
.copyright .foot { background: url(../images/footer_bj.gif) repeat-x; padding: 30px }

.pull-down
{
	background:#fcfcfc;
	border:1px solid #f0efef;
	width:960px;
	margin:0 auto;
}
.pull_li{
	padding:10px 0 10px 20px;
}
.pull-down h2
{
	height:35px;
	line-height:35px;
	padding-left:15px;
}
.pull-down h2 em
{
	display:block;
	height:35px;
	line-height:35px;
	height:35px;
	line-height:35px;
	float:left;
	font-style:normal;
	font-family:"微软雅黑";
}


.pull-down h2 a
{
	display:block;
	height:35px;
	line-height:35px;
	height:35px;
	line-height:35px;
	float:right;
	font-family:"宋体";
	font-size:12px;
	color:#247fe6;
	font-weight:normal;
	padding-right:10px;
}

.sxone{ line-height:20px; margin-bottom:5px; overflow:hidden;}
.sxone h3{ font-weight:normal; float:left; font-size:12px; color:#333333;}
.sxone h3 strong{}
.sxone ul{ display:block; float:left; width:800px; margin-left:10px;}
.sxone ul li{ float:left; margin-bottom:5px; color:#7a7979; padding:0px 5px; margin-right:10px; cursor:pointer; background:#efefef; white-space:nowrap;}
.sxone ul li:hover{ background:#d1a981; color:#fff;}

.sxone ul li a:hover{background:#d1a981; color:#fff; text-decoration:none;}
.sxone span.select_sx{ background:#ffbe00; color:#fff; display:block; float:left; width:50px; text-align:center }
.sxone li.select_sx{ background:#613910; color:#fff; display:block; float:left; text-align:center }
.sxone li.select_sx a{ color:#fff; }

/*滑块样式*/
/*Tab1*/
#lib_Tab1{width:680px;margin:0px;padding:0px;margin-bottom:15px;}
/*Tab2*/
/*菜单class*/
.lib_Menubox {height:28px;line-height:28px;position:relative;border-bottom:1px solid #A0AAAB;}
.lib_Menubox ul{margin:0px;padding:0px;list-style:none; position:absolute; top:3px; left:0; margin-left:10px; height:25px;text-align:center;}
.lib_Menubox li{float:left;display:block;cursor:pointer;width:114px;color:#fff;font-weight:bold; margin-right:2px;height:25px;line-height:25px; background-color:#792402}
.lib_Menubox li.hover{padding:0px;background:#fff;width:116px;border-left:1px solid #A0AAAB;border-top:1px solid #A0AAAB;border-right:1px solid #A0AAAB;color:#333;height:25px;line-height:25px;}
.lib_Contentbox{clear:both;margin-top:0px; border-top:none;text-align:center;padding-top:8px; overflow:hidden;}
/*页码*/


.fenxi{
	padding: 5px 0px;
}
.fenxi ul{ overflow:hidden;font-size:14px; margin-bottom:10px; }
.fenxi ul li{
	line-height:35px;height:35px;text-align:right;
	
}
.fenxi ul li a{ font-size:14px; }
.fenxi ul li a img{padding-right: 5px;}

/*页码*/

DIV.pages { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 13px; TEXT-ALIGN:left; font:normal 14px/20px "微软雅黑", "宋体"; color:#4d4d4d; margin-top:30px;}
.input_pages{ border:0px; border-bottom:#b9b9b9 1px solid; width:46px; margin:0 10px; text-align:center;}
.btn_pages{ background-color:#A0AAAB; width:58px; height:22px; color:#fff;font:normal 14px/22px "微软雅黑", "宋体"; margin-left:15px;cursor: pointer; border:0; padding:0}
.btn_pages:hover{ background-position:0 -22px;}

/*版权*/
.copyright { border-top: #7f7f7f 1px solid; padding-top: 6px; text-align: center; overflow: hidden; clear: both; margin-top: 20px; }
.copyright .foot { background: #cccccc; padding: 30px }

.w8_rightbox{ overflow:hidden; margin:20px 30px;}
.w8_rightbox h3{ font: normal 25px/60px "微软雅黑", "宋体"; color:#656565; margin-bottom:15px;}
.w8_list1 li a{ font:normal 14px/40px "微软雅黑", "宋体"}
.w8_list1 li  span{ display:block; float:left; background:#920783; width:25px; height:25px; color:#fff; line-height:25px; margin:7px 20px 7px 10px; text-align:center; font:normal 14px/25px "微软雅黑", "宋体";}
.w8_list1 li strong{ font-weight:normal; font-size:12px; font-family: "微软雅黑", "宋体"; color:#746c26; }
.w8_list1 li strong b{ font-weight:bold; font-size:27px; font-style:italic; }

#special_application {
	width: 100px; text-align: center; display: block;height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #011500;
    display: block;
    text-align: center;
    padding: 0 28px;
}
.selected_menu {
	color: #FFFFFF; 
	background: #613910;
	text-decoration: none; 
}

/*******评论********/
.comment_content{
	padding: 5px; 
    border: solid 1px #ddd; 
    color: #555;
    font: normal 14px/24px Arial, Helvetica, sans-serif; }
.comment_btn { width: 85px;
       height: 26px;
       margin: 10px 0 0 90px;
       border: none;
       background: url(../images/submit_bg.gif) no-repeat 0 0;
       color: #666;
       font: normal 12px/26px Arial, Helvetica, sans-serif;
       text-align: center;
      }
      .panel_head1{
	clear: both;
	height: 30px;
	padding: 0 10px;
	width: 96%;            
	border-radius: 1px;
          background: url(../images/tit_bg.gif) repeat-x top;
          color: #333;
          font: bold 12px/30px Arial;
          text-indent: 5px;           
      }
.js.cssanimations body #MainContainer div table tr td {
	font-family: Comic Sans MS, cursive;
}


.NameRow ul{cursor: pointer;color: white;line-height: 28px;text-align: center;}
.NameRow li{list-style-type: none;cursor: pointer;color: white;line-height: 28px;text-align: center;}
.NameRow ul span{background-color: #f2f7fa;display: block;font-weight: bold;border-bottom: 1px solid #ccc;}
.NameRow ul:last-child span{border-bottom: none;}
.NameRow li{background-color: #adadad;display: none;}
.NameRow li:hover{background-color: #9b9b9b;}
.NameRow b{display: inline;float: right;padding-right: 10px;}
.NameRow ul li a {color: #FFFFDD;}
.img-group {  position: relative;  display: inline-block;}
.img-tip {  position: absolute;  bottom: 0;  background: #333;  color: #fff;  opacity: 0.6;  display: none;}
.img-group:hover .img-tip {  display: block;  width: 100%;  text-align: center;}
.Bt{color: #000000}