.result_list {
	overflow: hidden;
}

.result_list .list {
	border-bottom: #8e8e8e 1px dashed;
	padding: 5px;
	margin: 5px;
	line-height:28px;
	/* text-overflow:ellipsis;
	 *-o-text-overflow:ellipsis;*/
}
.summary{
	color:#5b5b5b;
	padding-left:5px;
}
.search_result {
	float: left;
	width: 590px;
	display: inline;
	/* margin: 20px 8px;  */
}

.search_result .statis {
	background: #e5e5e5;
	border-top: #656565 2px solid;
	line-height: 30px;
	padding: 0 15px;
	margin-bottom: 5px;
}

.text_overflow{
	/* background-color: pink; */
    width:580px; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    overflow:hidden;
    font-size:13px; 
}
.text_overflow>a{
	font-size:14px;
}