/*
Author: 寮犺悕
Tags: white, one-column, two-columns, left-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, theme-options, translation-ready
*/
.clear{
	clear:both;display:block;content:'';overflow:hidden;
}
.left{float:left;}
.right{float:right;}
div,section,h1,h2,h3,h4,h5,time{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;}
html{
    height: 100%;}

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

body{
    background: #f5f5f5;
}

.topnav {
    height: 76px;
    /* background: #fff; */
    line-height: 75px;
}
.topnav>li>a {
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.consumer a {
    padding-left: 15px;
}
.pull-right {
    float: right !important;
}
header.am-topbar{
    margin-bottom: 0;
    background: #ca0813;
}
header ul li{
    float: left;
    padding: 0 38px;
    list-style: none;
    position: relative;}
header ul{
    padding: 0;
    z-index: 5;}
.topNav>li>a{font-weight: normal;}
header ul li:after{
    content: "+";
    line-height: 50px;
    font-size: 1rem;
    width: 1.5rem;
    float: right;
    color: #fff;
    text-align: center;
    }
header ul li ul li:after{
    content: "";}
header ul li ul{
    z-index: -1;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    display: none;
    background-color:rgba(0,0,0,0.7);
    color:white;
    }
header ul li ul li{
    width: 100%;
    padding: 0 0;
    /* height:36px;
    line-height:36px; */
    }
header ul>li>ul>li>a{
    line-height: 1;
    padding: .8rem 1.2rem;
    display: block;
    color:#fff;}
.menu-item>a,.menu-item-type-post_type>a,.menu-item-object-page>a{color:white;font-weight:normal;}
header ul li ul li .submenu{
    display: none;}
header ul li:hover{
    background: #9a1c2b;
  }
header>ul>li.active:after{
    content: "-"
;}
header ul li.active ul{
    display: block;
    z-index: 1;
    opacity: 1;
    /* top: 50px; */
    /* padding-top: .6rem;
    padding-bottom: .6rem; */
    /* margin: 0; */
  }
  
.sub-menu li i{
    margin:17px 10px 15px 17px;
    padding:0;
    height:0;
    width:0;
    border:solid 2.5px #CA0813;
    border-radius:50%;
    line-height:50px;
    margin:
    }
header ul li ul li a:before{
    color: #CA0813;font-size:1rem;}
/* header ul li ul li:nth-child(3n+1) a:before{
    color: #5763e1;}
header ul li ul li:nth-child(4n+1) a:before{
    color: #22ffae;}
header ul li ul li:nth-child(5n+1) a:before{
    color: #2256ff;}
header ul li ul li:nth-child(6n+1) a:before{
    color: #b2d531;} */
/* header ul li ul li a:hover{
    padding-left: 2rem;} */
header ul li.current-menu-ancestorm, header ul li.current-menu-parent{
    background: #eee;}
header .logo img{
        height: 60px;
    width: auto;
    padding: 10px 0px;}
footer .logo img{

    width: 80%;
    margin-bottom: 5px;
    padding:0px;}
footer .am-g div ul li a{
	font-size:14px;
}
footer .am-g div h3{
	font-size:16px;
	font-weight:600;
}
.side-bar .links .current-menu-item,.side-bar .links .current_page_item{
    color: #000;}
.right{
    float: right;}
header ul li a{
    color:#fff;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.container:after{
	clear: both;
    display: block;
    content: "";
}
.main-news .post{
    margin-bottom: 3rem;
    position: relative;

}
.content{
    padding: 0 1.5rem;
    width: 75%;
    float: left;}
.side-bar{
    width: 18%;
    float: right;}
.mtitle{
    font-size:2rem;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 3rem;
    margin: 0.5rem 0;
    }
.mtitle i{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    font-size: 2rem;
        margin-right: 1rem;}
.mtitle span{
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;}
.page-home  .mtitle a{
    text-align: right;
    float: right;
    font-size: 1.4rem !important;
    color: #888 !important;
    padding: 0 !important;
    line-height: 36px !important;}
.page-home  .mtitle a:before{
    content: "" !important;}
footer{
    background: #e7eaef;
    padding: 1rem 0 0;
    }
.main-news .post .bg{
    background-color: #fff;
    width:100%;
}
.main-news .post .cover{
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    background: rgba(0,0,0,.1);}
.main-news .post .mask{
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;}
.post:nth-child(1n) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #b73232 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #b73232 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #b73232 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #b73232 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #b73232 70%);
  transition: 400ms;
  -webkit-transition: 400ms;}
.home-news:nth-child(1n) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 50%, #b73232 100%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 50%, #b73232 100%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 50%, #b73232 100%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 50%, #b73232 100%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 50%, #b73232 100%);
  transition: 400ms;
  -webkit-transition: 400ms;}


.post:nth-child(7n+5) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #000 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #000 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #000 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #000 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #000 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(3n+6) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #7f3c1d  70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #7f3c1d  70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #7f3c1d  70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #7f3c1d  70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #7f3c1d  70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(2n+5) .mask{
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2e3192 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2e3192 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2e3192 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2e3192 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2e3192 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(6n+5) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00c8ff 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00c8ff 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00c8ff 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00c8ff 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00c8ff 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(2n+1) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2a7777 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2a7777 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2a7777 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2a7777 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #2a7777 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(2n+3) .mask{
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #0072bc 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #0072bc 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #0072bc 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #0072bc 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #0072bc 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(2n+1) .mask{
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #008b8b 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #008b8b 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #008b8b 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #008b8b 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #008b8b 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post .mask.dark-green {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00a651 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00a651 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00a651 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00a651 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #00a651 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(3n+4) .mask {
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #8dc63f 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #8dc63f 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #8dc63f 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #8dc63f 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #8dc63f 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(4n+4) .mask{
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #56366d 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #56366d 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #56366d 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #56366d 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #56366d 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}

.post:nth-child(5n+5) .mask{
  background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #77671a 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #77671a 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #77671a 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #77671a 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 30%, #77671a 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}
.main-news .post:hover .mask{
opacity: 0;}
.main-news .post .cover .inner{
    position: absolute;
    bottom: 1.5rem;
    left:  1.5rem;
    right:  1.5rem;}
.main-news .post:hover .cover .inner{
    bottom: 2.5rem;}
.main-news .post .cover .inner .cat{
    color: #fff;
    opacity: .8;
    margin: 0;
    font-size: 1rem
;}
.home-news:nth-child(5n-3){
    width: 50%;}
.home-news:nth-child(5n-3) .title{
    font-size: 2.5rem !important;}
.main-news .post .cover .inner h3{
    margin: 0;
    line-height: 1.6;
    color: #666;
    font-size: 13px;}
.school-news .inner{
    background: #fff;}
.school-news a{
    display: block;
    color: #333;
    font-size: 15px;
    line-height: 4rem;}
.school-news a time{
    float: right;
    font-size: 1rem;
    color: #aaa;}
.school-news a:before{
    content:"鈥�;
    color: #f45656;
    padding-right: 10px;}
.school-news ul li:nth-child(2n+1) a:before{
    color: #ffcc22;}
.school-news ul li:nth-child(3n+1) a:before{
    color: #5763e1;}
.school-news ul li:nth-child(4n+1) a:before{
    color: #22ffae;}
.school-news ul li:nth-child(5n+1) a:before{
    color: #2256ff;}
.school-news ul li:nth-child(6n+1) a:before{
    color: #b2d531;}
.school-news a:hover{
    padding-left: 2rem;}
.side-bar .links .inner ul{
    padding: 0;
    margin: 0;
    background: #fff;}
.side-bar .links .inner ul li{
    list-style: none;
    width: 100%;
    border-bottom: 1px dashed #eee;
    padding:0 1rem;}
.side-bar .links .inner ul li a{
    display: block;
    color: #333;
    font-size:15px;
    line-height: 4rem;}
.side-bar .links .inner ul li a:hover{
    padding-left: 10px;
    color: #000;}
.side-bar .links .inner ul li a i{
    margin-right: 10px;
    font-size: 1.4rem;
    color: #bbb;
    float: right;}
.side-bar .links .inner ul li a:before{
    content:"鈥�;
    color: #f45656;
    padding-right: 10px;}
.side-bar .links .inner ul li:nth-child(2n+1) a:before{
    color: #ffcc22;}
.side-bar .links .inner ul li:nth-child(3n+1) a:before{
    color: #5763e1;}
.side-bar .links .inner ul li:nth-child(4n+1) a:before{
    color: #22ffae;}
.side-bar .links .inner ul li:nth-child(5n+1) a:before{
    color: #2256ff;}
.side-bar .links .inner ul li:nth-child(6n+1) a:before{
    color: #b2d531;}
.side-bar .links .inner .fav-link{
    background: #fff;}
.side-bar .links .inner .fav-link a{
    font-size: 1.8rem;
    display: block;
    line-height: 1;
    background: #fff;
    padding: 1rem;}
.side-bar .links .inner .fav-link .inner{
    padding:2rem 1.5rem;
    background-size: cover;
    background-position: center center;
    display: block;
    color: #fff;
    font-weight: bold;}
.side-bar .links .inner .fav-link .inner span{
    font-weight: normal;
    opacity: .8;}
.side-bar .links .inner .fav-link a:first-child{
    border-bottom: 1px dashed #eee;}
.side-bar .links .inner .fav-link a span{
    color: #eee;
    font-size: 1.4rem;}
.side-bar .events ul{
    margin: 0;
    padding: 0;
    background: #fff;
    overflow:hidden;}
.side-bar .events ul li{
    list-style: none;
    display: block;
    padding: 1rem;
    cursor: pointer;
    float: left;
    width: 100%;}
.side-bar .events ul li:last-child{
    border:0;}
.side-bar .events ul li a{
    width:75%;
    float: left;
    display: block;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.2;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px dashed #eee;}
.side-bar .events ul li time{
    text-align: center;
    width: 25%;
    float: left;
    font-size: 3rem;
    line-height: 1;
    display: block;
        color: #666;}
.side-bar .events ul li time span{
    font-size: 1.3rem;
    display: block;}
.side-bar .events ul li time span.day{
    font-size: 3rem;
    color:#000;}
.side-bar .events ul li time i{
    float: right;}
.side-bar .events ul li:hover {}
.side-bar .events ul li:hover a{
    color: #000;}
.side-bar .events ul li:hover time{
    color: #2ab94e;}
.side-bar .links .inner ul li ul{
    margin-top: 10px;
    margin: 0;
    display: ;}
.side-bar .links .inner ul li ul li{
    border: 0;}
.side-bar .links .inner ul li ul li a:before{
    color: #aaa !important;}
footer .contact ul{
    margin: 0;
    padding-left: 3rem;}
footer .contact ul li{
    color: #666;
    font-size: 1.3rem;
    list-style: none;}
.f-menu ul,.f-link ul{
    margin:0;
    padding: 0;}
.f-menu ul li,.f-link ul li{
    font-size: 1.3rem;
    list-style: none;}
.f-menu ul li a,.f-link ul li a{
    color: #666;}
.page-content .inner{
    background: #fff;
    padding: 5rem;
    margin-bottom: 5rem;}
.page-content .inner p{
    font-size: 1.5rem;
    line-height: 2;}
.mtitle a i.backhome{
    background: transparent;
    color: #aaa;
    border-right: 1px solid #ddd;}
.mtitle a:hover i.backhome{
    color: #333;}
.page-title{
    height: 12rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-position: center center;
    position: relative;}
.page-title .mask{
    background: rgba(50,50,50,.5);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;}
.page-title h3{
    line-height: 12rem;
    color: #fff;}
.page-title h3 span{
    font-size: 2rem;
    color: #fff;
    border-color: rgba(255,255,255,.2);}
.page-title .breadcrumbs{
    float: right;
    font-size: 2rem;
    color:rgba(255,255,255,.5);}
.page-title .breadcrumbs a{
    opacity: .5;}
.page-title .breadcrumbs a:hover{
    opacity: 1;}
.page-title .breadcrumbs span{
    margin: 0;
    padding: 0;
    border:0;
    font-size: 1.6rem;}
.page-content img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2rem;
        margin-top: 20px;}
.page-content .thumbnail{
    height: 360px;
    background-size: cover;
    background-position: center center;}

.member{
    float: left !important;
    padding: 0;
    position: relative;}
.member img{
    margin: 0;
        -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -o-transition: all 3s linear;
    -ms-transition: all 3s linear;
    transition: all 3s linear;}
.member .am-icon-link{
    float: right;
    color: #aaa;}

.member p{
    line-height: 5rem;
    margin: 0;
    padding: 3rem 1rem 0;
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(to bottom,rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.6) 70%);
  background-image: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.6) 70%);
  background-image: -o-linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%);
  background-image: -ms-linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%); 
    transition: 400ms;
  -webkit-transition: 400ms;}
.page-shizi{
    margin-bottom: 2.5rem;}
.page-shizi .member{
    width: 20%;
    overflow: hidden;}
.page-shizi .member:hover img{
    width: 110%;
    height: 110%;
    max-width: 110%;
    max-height: 110%;}
.gray:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);   
    filter: grayscale(0%);
    filter: gray;}
.gray{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);   
    filter: grayscale(100%);
    filter: gray;}
.single-member .zhichen{
    margin: 0;}
.single-member .header img{
    margin: 0;}
.single-member .header h1{
    margin: 0;
    font-size: 3rem;}
.single-member .header h3{
    margin-bottom: 0;}
.single-member .header p{
    margin-top: 0;}
.single-member .header .beizhu{
    color: #888;
    font-style: italic;}
.page-dangjian{
    margin-top: 5rem;}
.page-dangjian a{
    display: block;
    font-size: 1.3rem;
    color: #333;
    line-height: 2;
    border-bottom: 1px dashed #eee;}
.page-dangjian a:hover{
    padding-left: 10px;}
.page-dangjian a:before{
    content:"閳ワ拷";
    color: #f45656;
    padding-right: 10px;}
.page-dangjian a:nth-child(2n+1):before{
    color: #ffcc22;}
.page-dangjian a:nth-child(3n+1):before{
    color: #5763e1;}
.page-dangjian a:nth-child(4n+1):before{
    color: #22ffae;}
.page-dangjian a:nth-child(5n+1):before{
    color: #2256ff;}
.page-dangjian a:nth-child(6n+1):before{
    color: #b2d531;}
.cat-edu a{
    display: block
;}
.cat-edu a img{
    margin: 0;}
.cat-edu a h1{
    color: #333;
    margin: 0;}
.page-keyan a {
    padding: 2rem 0;
    border-bottom: 1px dashed #ddd;
    display: block;}
.page-keyan a:hover{
    border-color: #333;}
.page-keyan a h1{
    margin: 0;
    color: #333;}
.page-keyan a .meta{
    margin: 0;
    color: #aaa;
    font-size: 1.4rem;}
.page-keyan a p{
    color: #888;
    font-size: 1.4rem;
    margin: 5px 0;}
.page-meishuguan h1{
    margin: 0;}
.page-meishuguan a{
    color: #888;
    line-height: 2;
    border-bottom: 1px dashed #ccc;
    display: block;}
.page-meishuguan a span{
    color: #aaa;}
.page-meishuguan a:hover{
    color: #333;
    border-color: #333;}
.img-post:first-child{
    padding-top:0;}
.img-post{
    display: block;
    border-bottom: 1px dashed #eee;
    padding: 20px 0;}
.img-post a{
    margin: 0;}
.img-post img{
    margin: 0;}
.img-post h1{
    color: #333;}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
    display: initial;}
.fenye{
    text-align: center;
    padding-top: 4rem;}
.fenye .pages{
    border-color: #eee;
    color: #aaa;}
.fenye .current{
    border-color: #aaa !important;
    color: #888;
    font-weight: normal !important;}
.fenye a{
    border-color: #eee !important;
    color: #aaa;
    background: #eee;}
.fenye a:hover{
    border-color: #333333 !important;
    color: #fff;
    background: #333;}
.page-event .inner {
    cursor: pointer;}
.page-event .inner a{
    color: #888;}
.page-event .inner a:hover{
    color: #ccc;}
.page-event .inner time{
    color: #888;}
.page-event .inner time i{
    margin: 0 10px;}
.page-event .inner time span{
    float: right;}
.page-event .inner  a.coming time span{
    color: #1dab4a;}
.page-event .inner a.coming{
    color: #333;}
.page-event .inner:hover a.coming{
    color: #1dab4a;}
.page-event .fenye{
    padding: 0 0 40px;}
.page-lindao .inner{
    overflow: hidden;
    margin-bottom: 2.5rem;
    padding: 2.5rem;}
.page-lindao .inner h3{
    margin-top: 0%;
    font-size: 2rem;
    margin-bottom: 0;}
.page-lindao .inner p{
    font-size: 1.6rem;
    margin: 0;}
.gray {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;}
@media screen and (max-width: 769px) {
    .content{width: 100%;}
    .side-bar {
        display: none !important;}
}
@media only screen and (min-width: 769px){
.mb-menu {display:none;}
.mb-side, .top-right {display:none;}
}
@media only screen and (max-width: 500px){
.am-u-md-3.f-menu, .am-u-md-6.f-link {display: none;}
.main-news .post .cover {left: 1rem;right: 1rem;}
.cop {text-align:center;}
 .cop-top {margin-top: 2rem;}
}

@media only screen and (max-width:769px){
.home-news:nth-child(5n-3) {
    width: 100%;}
.am-u-sm-3 {
    width: 50%;}

 
 .pc-menu {display: none;}
 .mb-act {margin-bottom:35px;}
 .page-content .inner {padding: 2rem;}
 .breadcrumbs {display: none;}
 .img-post h1 {font-size: 18px;}
 header ul li {float: none;padding: 0 20px;list-style: none;position: relative;border-bottom: 1px dashed #666;}
 .mb-menu {float:none;}
 .top-right .mtitle {color:#fff!important;}
 header ul li:hover {background: rgba(0,0,0,.7);}
 header ul li.current-menu-parent {background: rgba(0,0,0,.7);}
 .am-offcanvas-content {padding: 15px 0;color: #999;}
 .sub-menu {width: 100%;background: #171616;}
 table {width: inherit !important;}
.right-menu, .right-menu1 {padding: 0;}
.right-menu1 li:after {
    display:none !important;}
.pp {line-height: 3rem;text-align: center;padding: 10px 0;}
.top-mid {text-align: center;}
.top-right {float: right;position: absolute;right: 0rem;top: 0;line-height: 60px;}
.top-left {float: left;position: absolute;left: 2rem;top: 0;line-height: 60px;}
.page-shizi .member {
    width: 50%;
    overflow: hidden;
    height: auto !important;}
html #wpadminbar {display: none;}
}

li#wp-admin-bar-new-content {
    display: none;}
.exp p {margin-bottom: 5px;}
.xsy li {
    list-style: none;
    width: 100%;
    border-bottom: 1px dashed #eee;
    padding: 0 1rem;}
.xsy1 .am-list>li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px dashed #dedede;
    border-width: 1px 0;}
.xsy li a {
    display: block;
    color: #333;
    font-size: 1.6rem;
    line-height: 1.5rem;}
.xsy li a:hover{
    padding-left: 10px;
    color: #000;}
.xsy li a i {
    margin-right: 10px;
    font-size: 1.4rem;
    color: #bbb;
    float: right;}
.xsy li a:before{
    content:"閳ワ拷";
    color: #f45656;
    padding-right: 10px;}
.xsy li:nth-child(2n+1) a:before{
    color: #ffcc22;}
.xsy li:nth-child(3n+1) a:before{
    color: #5763e1;}
.xsy li:nth-child(4n+1) a:before{
    color: #22ffae;}
.xsy li:nth-child(5n+1) a:before{
    color: #2256ff;}
.xsy li:nth-child(6n+1) a:before{
    color: #b2d531;}
.xsy2 img {
    margin-top: 0;
    margin-bottom: 0;}
.xsy2 .am-slider-default .am-control-nav {
    width: 100%;
    position: absolute;
    bottom: inherit;
    text-align: center;}
.am-table>tbody>tr>td {
    vertical-align: middle;
    /* text-align: center !important; */
    }


.page-title1{
    height: 35rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-position: center center;
    position: relative;}
.page-title1 .mask{
    background: rgba(50,50,50,.0);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;}
.page-title1 h3{
    line-height: 12rem;
    color: #fff;}
.page-title1 h3 span{
    font-size: 2rem;
    color: #fff;
    border-color: rgba(255,255,255,.2);}
.page-title1 .breadcrumbs{
    float: right;
    font-size: 2rem;
    color:rgba(255,255,255,.5);}
.page-title1 .breadcrumbs a{
    opacity: .5;}
.page-title1 .breadcrumbs a:hover{
    opacity: 1;}
.page-title1 .breadcrumbs span{
    margin: 0;
    padding: 0;
    border:0;
    font-size: 1.6rem;}

.xtitle{
    font-size:3.6rem;
    color: #444;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 5rem;
    text-align: center;
    margin-bottom: 3rem;}
.tb {color:#ccc;display: block;}
.menu-container ul li {
    float: left;
    
    list-style: none;
    position: relative;}
.menu-container ul {
    position: absolute;
    background-color: #fff;
    left: 0px;
    right: 0px;
    bottom: 0;
    text-align: center;
    border-bottom:1px solid #eee;
    padding: 0 10rem;}
.menu-container ul li a{color:#888;line-height:5rem;}
.menu-container ul li a i{}
.menu-container ul li a:hover {color:#000;}
.menu-container ul li:hover {background: #eee;}
.menu-container .current-menu-item a {color: #000 !important;}
.elink {
    line-height:1 !important;
    background:none !important;
    color:#3bb4f2 !important;
    width: auto !important;
    height: auto !important;}
.guest-name {
    margin-top: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;}
.guest-info {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.6 !important;}
.gtitle {
    font-size: 18px;
    margin-top: 3rem;
    margin-bottom: 0;
    color: #188e00;}
.gtitle2 {
    font-size: 18px;
    margin-top: 3rem;
    margin-bottom: 0;
    color: #0000ff;}

.gtitle3 {
    font-size: 18px;
    margin-top: 3rem;
    margin-bottom: 0;
    color: #666699;}

.bannerbg{
    list-style: none;
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
}
.bannerbg ul{
  position: relative;
}


.bannerbg li{
  position: absolute;
  right: 20px;
  top: 82px;
}
.search_web_baidu {
    height: 25px;
    width: 550px;
}
.search_web_baidu a {
    float: left;
    width: 80px;
    height: 100%;
    line-height: 25px;
    color: #4a4a4a;
    font-size: 12px!important;
    background: #c3cbd1;
    z-index: -1;
    text-align: center;
}
.search_web_baidu a.focus {
    background: #fff;
}
.search_web_baidu i {
    float: left;
    width: 0;
    height: 0;
    border-bottom: 25px solid #c3cbd1;
    border-right: 15px solid transparent;
    z-index: 10;
}
.search_web_baidu i.focus {
    border-bottom: 25px solid #fff;
}
.xSearchIn {
    float: left;
    width: 400px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    border: none;
    border-width: 0;
    margin: 10px 0 10px 40px;
}
.xSearBox{
    width: 550px;
}
.xSearchBox {
    height: 46px;
    background: #ffffff url(../images/search.png) no-repeat 10px center;
}
.xSearchBtn {
    float: right;
    width: 100px;
    height: 44px;
    background-color: #c98538;
    border: none;
    font-size: 20px;
    line-height: 44px;
    margin:1px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
.docType a{
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}
.docType {
    clear: both;
    overflow: hidden;
    line-height: 44px;
}
.inner .title{
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding-bottom: 15px;
}
.etc{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.school-news .inner ul {
    padding: 0;
    margin: 0;
}
.school-news .inner ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px dashed #eee;
    padding: 0 1rem;
}
.time{
    float: right;
    font-size: 1rem;
    color: #aaa;
    line-height: 4rem;
}
.titop{
    background: #FFF;
    margin-bottom: 2px;
    line-height: 60px;
    height: 60px;
}
.path{
    float: right;
    margin-right: 50px;
    color: #999;
    font-size: 12px;
}
.path a{
    font-size: 14px;
    color: #666;
}
.title_tag{
    float: left;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 800;
    color:#333
}
.article{
    background: #fff;
    padding: 30px 70px 45px 70px;
}
h2.news_detail_title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 11px 0;
}
.rele_date {
    font-size: 13px;
    color: #b7b7b7;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
}
.rele_date span{
    margin-left: 20px;
}
.text p{
    text-indent: 2em;
    font-size: 15px;
    line-height: 27px;
    padding: 10px 0;
    font-family: 'Microsoft YaHei', '寰蒋闆呴粦';
}
ul.news_list li a {
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0px;
    clear: both;
    overflow: hidden;
}
.news_list_title {
    float: left;
    line-height: 25px;
    width: 800px;
}
.gray_cont {
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8f8f8f;
}
.new_date{
    float: right;
    height: 45px;
    line-height: 30px;
    margin-top: 2px;
    margin-right: 15px;
}
.news_list_title h2 {
    font-size: 15px;
    line-height: 20px;
    color:#333
}
.news_list_title p{
    font-size: 12px;
    color: #999;
}
.fenye{
    text-align: center;
    line-height: 30px;
    color: #666;
    font-size: 14px;
}
/* .bannerbgSe {
    margin-bottom: 20px;
}
.bannerbgSe li {
    list-style: none;
    background: url(../images/banner.png) no-repeat center top;
    width: 100%;
    height: 60px;
} */
.dzkp li{
  float: left;
  width: 12.5%;
  text-align: center;
}

.dzkp li a{
  display: block;
  background: #ca0813;
  width: 80%;
  height: 100px;
  margin: 0px auto 10px;
  padding-top: 16px;
}
.pdleft{
  /* padding: 0 1.5rem; */
}
.pdleft a{
	font-size:12px;
	text-decoration: none;
}
.pdleft>div>a:nth-child(2),.pdleft>div>a:nth-child(3){
	padding-left:15px;
	color:#ca0813;
}
.pdleft>div>a:nth-child(3){
	padding-left:15px;
}
.headTop{
	height:36px;
	line-height:36px;
	background-color:#f5f5f5;
}
.seached{
	background:white;
}
.seachedIn{
	margin: 0 auto;
    height: 40px;
    width: 1140px;
    padding: 25px 15px;
    background: white;
}
.seachedImg img{
	height:36px;
}
.seachedInput{
	height: 38px;
    width: 500px;
    border:solid 1px #ca0813;
    position:relative;
}
.seachedInput>input{
	line-height: 38px;
    font-size: 16px;
    border-radius: 0;
    border:none;
    width: 100%;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent:1em;
}
.seachedInput>button{
	border:none;
	outline:none;
	font-size:14px;
	text-indent: 0.5em;
	border-radius: 0;
    width: 71px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ca0813 url(http://oqwzl517v.bkt.clouddn.com/index/search2.png) no-repeat 10px center;
    background-size: 15px;
    line-height: 38px;
    color: #fff;
    padding-left: 20px;
    text-align: center;
}
.menuList1{width:33.333%;}
.menuList2{width:66.666%;}
.menuList1 li,.menuList2 li{
	line-height:18px;
}
.menuListIn{width:50%;}
footer{
    box-sizing: border-box;
}
footer>div{
	height:100px;
}
